<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>brandId</key>
		<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
		<key>brandName</key>
		<string>欧比亚斯</string>
		<key>list</key>
		<array>
			<dict>
				<key>brandId</key>
				<string>20150520104604126C22138DC-56F5-4668-9855-44D4E149539C</string>
				<key>origin_price</key>
				<integer>180</integer>
				<key>productColor</key>
				<string>喷漆,喷漆彩色</string>
				<key>goods_id</key>
				<string>20150619133056858-91809189-DD5D-4E00-94E7-4257E19FFF31</string>
				<key>goods_name</key>
				<string>E淘-吸顶灯(D260*H200mm)</string>
				<key>goods_img</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/8063XD-3小_20160419103234235.png</string>
				<key>goods_price</key>
				<integer>54</integer>
				<key>goods_count</key>
				<integer>17</integer>
				<key>goods_stock</key>
				<integer>17</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandId</key>
		<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
		<key>brandName</key>
		<string>哈佛斯顿</string>
		<key>list</key>
		<array>
			<dict>
				<key>brandId</key>
				<string>20150520103700232B86927F5-F1D6-434F-BA53-6C7D928F3120</string>
				<key>origin_price</key>
				<integer>140</integer>
				<key>goods_id</key>
				<string>20160416175359622-8DB859A5-81C8-4DB2-B0F1-6F84D923D04E</string>
				<key>goods_name</key>
				<string>E淘-吸顶灯（D450*H430mm）</string>
				<key>goods_img</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/未标题-1_20160416175411242_20160420113120500.png</string>
				<key>goods_price</key>
				<integer>42</integer>
				<key>goods_count</key>
				<integer>1</integer>
				<key>goods_stock</key>
				<integer>979</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandId</key>
		<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
		<key>brandName</key>
		<string>成虹</string>
		<key>list</key>
		<array>
			<dict>
				<key>brandId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>origin_price</key>
				<integer>17</integer>
				<key>goods_id</key>
				<string>20150922093021608-42ED688D-D273-4544-AB5E-4F7B33FF6C75</string>
				<key>goods_name</key>
				<string>E淘-商业照明（D190*H75mm）</string>
				<key>goods_img</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>goods_price</key>
				<integer>13</integer>
				<key>goods_count</key>
				<integer>3</integer>
				<key>goods_stock</key>
				<integer>2959</integer>
			</dict>
			<dict>
				<key>addDate</key>
				<string></string>
				<key>applicableRegion</key>
				<string></string>
				<key>authentic</key>
				<integer>2</integer>
				<key>brandId</key>
				<string>20150916091214889CAF04688-5CDE-4476-AC69-669D1FAF1024</string>
				<key>brandName</key>
				<string>成虹</string>
				<key>brandPicUri</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/brand/成虹_20150922142034554.jpg</string>
				<key>cartId</key>
				<string>b5495064-bf5b-4425-96a6-c5ee02e3b837</string>
				<key>cartType</key>
				<string></string>
				<key>collectStatus</key>
				<integer>0</integer>
				<key>dealerpurchaseprice</key>
				<string></string>
				<key>ezgstatus</key>
				<string></string>
				<key>itemType</key>
				<integer>1</integer>
				<key>lightSourceCount</key>
				<integer>0</integer>
				<key>origin_price</key>
				<integer>8</integer>
				<key>productColor</key>
				<string></string>
				<key>productDetailPicUirs</key>
				<array/>
				<key>goods_id</key>
				<string>20160417110109702-FB5046A7-11BD-4FE7-8963-DC1356C2FFDE</string>
				<key>productMade</key>
				<string></string>
				<key>goods_name</key>
				<string>E淘-商业照明(D35*H101mm)</string>
				<key>productNum</key>
				<string>ZR-LP5001-尖/3000K</string>
				<key>goods_img</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/FB-TD1501-4000K_20160418134637260.png</string>
				<key>goods_price</key>
				<integer>6</integer>
				<key>goods_count</key>
				<integer>3</integer>
				<key>goods_stock</key>
				<integer>1000</integer>
				<key>productStyle</key>
				<string></string>
				<key>productType</key>
				<string>商业照明</string>
				<key>remark</key>
				<string></string>
				<key>specHeight</key>
				<integer>101</integer>
				<key>specLength</key>
				<integer>35</integer>
				<key>specWidth</key>
				<integer>0</integer>
				<key>time</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>brandId</key>
		<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
		<key>brandName</key>
		<string>测试品牌01</string>
		<key>list</key>
		<array>
			<dict>
				<key>brandId</key>
				<string>201506151539343818FD4F4F1-73BD-48D3-82EF-2E3CE387192D</string>
				<key>origin_price</key>
				<integer>10000</integer>
				<key>goods_id</key>
				<string>20150615164427547-DDFCC481-8E1F-44D1-8451-46E38D7A0436</string>
				<key>goods_name</key>
				<string>演示产品01001</string>
				<key>goods_img</key>
				<string>http://oss.av-gd.com/ROOT/busiImage/dest/product/MDGH/big/DSC_3609-8ZT_20150615184545875.png</string>
				<key>goods_price</key>
				<integer>1</integer>
				<key>goods_count</key>
				<integer>78</integer>
				<key>goods_stock</key>
				<integer>78</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
